@import "tailwindcss";


:root {
  /* COLORS */
  --color-primary-black: #000000;
  --color-primary-gray: #666666;
  --color-secondary-gray: #979797;
  --color-secondary-navy-blue: #103558;
  --color-secondary-white: #ffffff;

  /* FONTS */
  --font-poppins: Poppins, sans-serif;

  /* ANIMATIONS */
  --animate-slide-in-left: slide-in-left 0.8s ease-out forwards;
  --animate-slide-in-right: slide-in-right 0.8s ease-out forwards;
  --animate-fade-in: fade-in 1s ease-out forwards;
  --animate-scale-in: scale-in 0.6s ease-out forwards;

  /* KEYFRAMES */
  @keyframes slide-in-left {
    0% {
      opacity: 0;
      transform: translateX(-50px);
    }

    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes slide-in-right {
    0% {
      opacity: 0;
      transform: translateX(50px);
    }

    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes fade-in {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  @keyframes scale-in {
    0% {
      opacity: 0;
      transform: scale(0.95);
    }

    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
}